.advantages {
  margin-top: 32px;
  margin-bottom: 33px;
  line-height: 26px;
  text-align: center;
}

.advantages__header {
  width: 270px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 520px;
  }
}

.advantages__title {
  .margin-padding ();
  .font-main-heading ();
  color: @color-heading;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__text {
  .margin-padding ();
  line-height: 26px;
}
