.advantages {
  margin-bottom: 33px;
  line-height: 26px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }
}

.advantages__header {
  width: 255px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    width: 520px;
    margin-top: 15px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 42px;
  }
}

.advantages__title {
  .margin-padding ();
  .font-main-heading ();
  color: @color-heading;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 30px;
  }
}

.advantages__text {
  .margin-padding ();
  line-height: 26px;
}
