.advantages {
  margin-top: 32px;
  margin-bottom: 33px;
  line-height: 26px;
  text-align: center;
}

.advantages__title {
  .margin-padding;
  .font-main-heading;
  color: @heading-color;
}

.advantages__text {
  .margin-padding;
  line-height: 26px;
}
