.hotel-search-form {
  text-align: center;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
  }
}

.hotel-search-form__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

.hotel-search-form__title {
  .margin-padding ();
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: @color-heading;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 34px;
  }
}

.hotel-search-form__text {
  .margin-padding ();
}

.hotel-search-form__text-break {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.hotel-search-form__button {
  display: block;
  width: 280px;
  padding-top: 14px;
  padding-bottom: 18px;
  margin: 0 auto;
  margin-top: 28px;
  .button ();

  &:hover,
  &:focus {
    background-color: @color-focus;
  }

  &:active {
    color: fade(@color-background, 30%);
    background-color: @color-active;
  }

  &:disabled {
    background-color: @color-formhover;
  }

  @media (min-width: @tablet-width) {
    width: 458px;
    margin-top: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 43px;
  }
}
