.page-main__title {
  .margin-padding ();
  .font-main-heading ();
  margin-bottom: 28px;
  text-align: center;
  color: @color-heading;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.page-main__text {
  .margin-padding ();
  text-align: center;
}
