.page-main__title {
  .margin-padding ();
  .font-main-heading ();
  text-align: center;
  color: @heading-color;
}

.page-main__text {
  .margin-padding ();
  margin-bottom: 35px;
  text-align: center;
}
