.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  .margin-padding ();
  background-color: @color-background;
  color: @color-text;

  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
