.photo {
  margin-top: 31px;
  margin-bottom: 32px;
  text-align: center;
}

.photo__list {
  .margin-padding;
  list-style: none;
}

.photo__title {
  .margin-padding;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @heading-color;
}

.photo__author {
  .margin-padding;
  text-transform: none;
}

.photo__likes {
  .margin-padding;
  font-weight: bold;
}
