.reasons {
  margin: 0;
  padding: 0;
  line-height: 21px;
  list-style: none;
}

.reasons__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
}

.reasons__item--accent {
  color: #ffffff;
  background-color: #81B3D2;
}
