.reasons {
  .margin-padding ();
  line-height: 21px;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.reasons__title {
  .margin-padding ();
  .font-main-heading ();
  color: @color-heading;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.reasons__title--accent {
  color: @color-background;
}

.reasons__item {
  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.reasons__item--accent {
  color: @color-background;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.reasons__item--accent-top {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.accent-top__header {
  background-color: @color-sitetheme;

  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.reasons__item--accent-bottom {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.accent-bottom__header {
  background-color: @color-sitetheme;

  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}
