.recommendations {
  .margin-padding;
  list-style: none;
  line-height: 21px;
  color: @text-color;
  background-color: @background;
}

.recommendations__title {
  .margin-padding;
  .font-main-heading;
  color: @heading-color;
}

.recommendations__description {
  .margin-padding;
  line-height: 21px;
}
