.field-set {
  border: none;
}

.legend {
  .font-main-heading ();
  color: @color-heading;
}

.fieldset-list {
  .margin-padding ();
  list-style: none;
}

.label {
  line-height: 26px;
}

.radio-label,
.checkbox-label {
  .font-main-heading ();
  color: @color-heading;
  text-transform: none;
}

.button {
  .button ();
  text-transform: uppercase;
  border: none;
}
