.review-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.review-form__header {
  width: 320px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid @color-formhover;

  @media (min-width: @tablet-width) {
    width: 435px;
    margin-top: 34px;
    margin-bottom: 69px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    margin-top: 72px;
    margin-bottom: 42px;
  }
}

.form-header__title {
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
  }
}
