@color-background: #ffffff;
@color-heading: #000000;
@color-text: #333333;
@color-sitetheme: #81b3d2;
@color-backgroundreasons: #eeeeee;
@color-formbackground: #f2f2f2;
@color-focus: #669ec0;
@color-formline: #dbdbdb;
@color-formicons: #e6e6e6;
@color-formhover: #e5e5e5;
@color-checkbox: #d5d5d5;
@color-active: #5496bd;
@color-mainmenu-hover: #604e43;
@color-mainmenu-active: #766357;
@color-border: #d6d6d6;

@tablet-width: 768px;
@desktop-width: 1280px;
@mobile-width-only: 767px;
